import { Meta } from '@storybook/blocks';

<Meta title='Hooks / {{camelCase fileName}}' />

# {{camelCase fileName}}

Please add a description about the `{{camelCase fileName}}` hook.

## Reference

```ts
function {{camelCase fileName}}(): void
```

### Parameters

* `TODO` - Describe the parameters here.

### Returns

* `TODO` - Define the return value here.

## Usage
```tsx
function DemoComponent() {
  {{camelCase fileName}}();
  return (
    <div></div>
  );
}
```
