import { Meta } from '@storybook/blocks';

<Meta title='hooks/{{camelCase hookName}}' />

#
{{camelCase hookName}}

Please add a description about the `{{camelCase hookName}}` hook. ## Reference ```ts function
{{camelCase hookName}}(): void ``` ### Parameters * `TODO` - Describe the parameters here. ###
Returns * `TODO` - Define the return value here. ## Usage ```tsx function DemoComponent() {
{{camelCase hookName}}(); return (
<div>
</div>
); } ```